# Base de datos pre-configurada para Docker
DB_HOST=cartmonitor-db
DB_NAME=CartMonitor
DB_USER=CartMonitor_user
DB_PASS=CartMonitor_password
DB_PORT=3306

APP_ENV=development
APP_SECRET=CartMonitor_secret_key_12345